.nav{
    position: fixed;
    top: 0;
    /*The above two lines always keep it fixed to the top left.*/
    /*display:flex helps it to go in a single row when there are several elements.*/
    display: flex;
    z-index: 1; /*This statement makes it always appear in the foreground. If z-index: -1 then it always appears in the background.
    based on the z-index of the remaining elements.*/
    width: 100%;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black{
    background-color: black;
}
.nav__logo{
    width: 170px;
    padding: 15px;
    object-fit: contain;
}

.nav__fade{
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent)
}